*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(to right, #141e30, #243b55);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background: white;
    width: 500px;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

h1{
    margin-bottom: 10px;
    color: #141e30;
}

.subtitle{
    margin-bottom: 25px;
    color: gray;
}

form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input{
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

button{
    padding: 14px;
    border: none;
    border-radius: 8px;
    background: #243b55;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background: #141e30;
}

.result{
    margin-top: 25px;
    padding: 20px;
    background: #f5f5f5;
    border-radius: 10px;
}

.result h2{
    margin-bottom: 15px;
    color: #243b55;
}

.result p{
    margin: 10px 0;
    font-size: 16px;
}